* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 

 
}
body{
    background:url(https://images.pexels.com/photos/5402908/pexels-photo-5402908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
 background-repeat: no-repeat;
 background-size: cover;
}

.wrap {
 width: 50%;
 margin: 0 auto;
 font-family: 'open sans', roboto, sans-serif; 
 background: rgba(146, 143, 140, 0.397);
 backdrop-filter: blur(3px);
 


}



h1 {
 text-align: center;
 text-transform: uppercase;
 font-size: 60px;
 
 background: linear-gradient(59deg, rgba(214,208,6,1) 0%, rgba(240,239,220,1) 5%, rgba(237,221,25,1) 10%, rgba(232,230,219,1) 17%, rgba(237,221,25,1) 22%, rgba(228,222,205,1) 30%, rgba(237,221,25,1) 32%, rgba(235,224,208,1) 44%, rgba(237,221,25,1) 47%, rgba(233,220,207,1) 55%, rgba(237,221,25,1) 60%, rgba(233,219,211,1) 66%, rgba(237,221,25,1) 71%, rgba(235,219,214,1) 84%, rgba(237,221,25,1) 88%, rgba(235,221,220,1) 94%, rgba(237,221,25,1) 100%);
background-size: 300%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-position: left;
transition: all 2s ease-in-out;
}
h1:hover{
    background-position: right;
}

.game {
 display: flex;
 background: rgba(146, 143, 140, 0.397);
 backdrop-filter: blur(3px);

}
.color {
 height: 25vh;
 flex-grow: 1;
 margin: 2px;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

.play {
 text-align: center;
 background: rgba(146, 143, 140, 0.397);
 backdrop-filter: blur(3px);
 padding-bottom: 20px;
}

.play input{
 height: 60px;
 font-size: 30px;
 font-weight: 600;
 padding: 5px;
 margin-left: 20px;
 margin-right: 50%;
 margin-top: 25px;
 width: 100px;
 border-radius: 10px;
 background: rgba(185, 181, 177, 0.397);
 backdrop-filter: blur(3px);
 color: gold;
 text-align: center;
}
.play button {
 width: 20%;
 height:60px;
 text-align: center;
 padding: 5px 10px;
 font-size: 25px;
 text-transform: uppercase;
 font-weight: 900;
 background-color: rgb(160, 21, 28);
 border: none;
 border-radius: 10px;
 color: rgb(194, 129, 129);
 cursor: pointer;
 letter-spacing: 4px;
 box-shadow: 5px 5px 0 3px  rgb(73, 18, 21) ;
 
}
.play button:hover{
    color: rgb(248, 242, 242);
    background-color: rgb(214, 41, 50);
    box-shadow: 5px 5px 2px 3px  rgb(160, 21, 28) ;
}
.play button:active{
    transform: translateY(5px);
    box-shadow: 1px 1px 2px 1px  rgb(160, 21, 28) ;
}

.panel, .score{
 padding: 5px 0;
 font-size: 26px;
 background: rgba(146, 143, 140, 0.397);
 backdrop-filter: blur(3px);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

}

.panel, .score {
 font-size: 26px;
 text-align:  center;
 color:lightgoldenrodyellow;
 text-transform: uppercase;

}
.panel span, .score span {
 font-weight: bold;
 margin-right: 20px;
 width: 100px;
 background: rgba(226, 222, 218, 0.397);
 backdrop-filter: blur(3px);
color: gold;
padding: 1px 20px;
border-radius: 10px;

}
.result{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: block;
    padding-top: 10px;
    background-color: rgba(74, 77, 73, 0.411);
    height: 60px;
    text-transform: uppercase;
    font-size: 30px;

}


@media (max-width: 1024px) {
 .wrap {
 width: 100%;
 }


}
@media (max-width: 560px){
    h1{
        font-size: 40px;
        padding: 10px 0;
    }
    .color{
        height: 14vh;
    }
    .result{
        font-size: 20px;
        padding-top: 5px;
        

    }
    .play button{
        font-size: 15px;
        font-weight: 800;
    }
    
    .panel, .score {
        font-size: 15px;
        padding: 30px 0;
    }
    .play input{
        font-size: 20px;
        
    }

}